body{
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

nav ul{
	display: flex;
	padding: 0;
	justify-content: space-between;
	margin: 0 0 0 auto

}
nav ul li{
	list-style: none;
	padding-top: 1rem;

}


nav ul li a{
	color:#c0c0c0;
}


/**********HEADER **************/



header{
	background: #f8f9fa;
	width: 100%;
}
.mr-auto{
	margin-right: 0 !important;
}

nav h2{
	font-size: 0.8rem;
}

nav h1{
	font-size: 1.2rem

}







/***************SECTION*******************/
section{
	color: #c0c0c0;
	margin-top: 100px;
}

section img{
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 1rem;
}
section .title{
	color: black
}

h2{
	color:black;
	margin: 0;
	padding-bottom: 0;
	text-align: center;
}

.nom{
	padding-top: 0;
	padding-bottom: 0;
}
.nomprenomtitre{
	background-color: #f8f9fa;
}
.poste{
	color: black;
	margin-bottom: 1rem;
	text-align: center;

}
section .work span, section .education span{
	color:black;
	font-size: 1.6rem;
}
section .titre{
	color:#666666;
	margin-top: 1rem; 
}

section .sous-titre{
	color:#928E8E
}

section .col-sm-4{
	border: 1px solid #c0c0c0;
	padding: 0;
}

section .col-sm-4 div{
	padding-left: 10px;
	padding-right: 10px;
}

section .col-sm-8{
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

section h1{
	margin-bottom: 5rem;
	margin-top: 3rem;
}

.presentation span{
	color: black;
}

.nom{
	text-align: center;
	font-weight: bold;
	margin-bottom: 1rem;
}

/*****************FOOTER*******************/

footer{
	background:#c0c0c0;
	height: 4rem;
	text-align: center;
	color:white;
	margin-top: 8rem;
}

footer a{
	color: white;
}


footer a:hover{
	color: black;
}

@page {
  size: A4;
}
@media print {
	html, body {
	    width: 210mm;
	    height: 297mm;
	    font-size: 12pt;
	    margin: 0;
	    padding: 0;
	}
	body {
    	padding: 1cm !important;
  	}
  	header{
  		display: none;
  	}
  	h1{
  		display: none;
  	}
  	footer{
  		display: none;
  	}
  	section{
  		margin: 0;
  	}
	li{
		font-size: 0.9rem;
	}
	section .col-sm-8{
		border: none;
	}
	section .col-sm-4{
		border: none;
	}
}

